<div class="card p-2">
<form id='login-form' action="'/api/user/login" method="post">
  <div  name="" class="form-group">
    <label for="username-input-login">Username</label>
    <input id='username-input-login' type="username" class="form-control m-3 " style="width: 97%"  aria-describedby="emailHelp">
  </div>
  <div class="form-group">
    <label for="password-input-login">Password</label>
    <input type="password" class="form-control m-3 " style="width: 97%" id="password-input-login">
  </div>
  <button type="submit" class="btn btn-primary">Login</button>
</form>
</div>
<script src="/js/login.js"></script>